{% extends "document_sentiment/base.html" %}
{% block content %}

<!---first card --->
	<div class="card mx-auto text-light bg-steel mb-3 text-center" style="max-width: 30rem; margin-top: 10rem">
  <div class="card-body">
    <h5 class="card-title">Test Sentimenet Recognition</h5>
    <p class="card-text">If you only have one document or a small peice of text or just need to test the tool.</p>
  </div>
  <a href="{% url 'document_sentiment-sentiment_form' %}" class="btn btn-block btn-primary">Continue <i class="fas fa-angle-double-right"></i></a>
</div>
<!---second card --->
<div class="card mx-auto text-white bg-steel mb-3 text-center" style="max-width: 30rem;"> 
  <div class="card-body">
    <h5 class="card-title">Add C.S.V.</h5>
    <p class="card-text">Select this option if you have multiple documents The documents must be in the format of one document per line.</p>
  </div>
  <a href="{% url 'document_sentiment-sentiment_upload_file' %}" class="btn btn-block btn-primary">Continue <i class="fas fa-angle-double-right"></i></a>
</div>
<!---third card --->
<div class="card mx-auto text-white bg-steel mb-3 text-center" style="max-width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Add JSON</h5>
    <p class="card-text">Select this option if you have multiple documents in json format.</p>
  </div>
  <a href="{% url 'document_sentiment-sentiment_upload_file' %}" class="btn btn-block btn-primary">Continu <i class="fas fa-angle-double-right"></i></a>
</div>
</div>
</div>
{% endblock content %}