{% extends "document_sentiment/base.html" %}
{% block content %}
{% load static %}
<div class="container">

<table class="table">
	<thead>
		<tr>
			<th>No</th>
			<th>User</th>
			<th>Description</th>
			<th>Uploaded_at</th>
			<th>Document</th>
			<th>View</th>
			<th>Delete</th>
			<th>Select</th>

		</tr>
	</thead>
	<tbody>
		{% for doc in docs%}
		<tr>
			<td>{{ doc.pk }}</td>
			<td>{{ doc.author }}</td>
			<td>{{ doc.description }}</td>
			<td>{{ doc.uploaded_at }}</td>
			<td>{{ doc.document }}</td>
			<td>
				<a href="{{ doc.document.url }}" class="btn btn-primary btn-sm" target="_blank" data-toggle="popover" title="Click to view file">
				view</a>
			</td>
			<td>
				<form method="post" action="{% url 'document_sentiment-sentiment_delete_docs' doc.pk %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger btn-sm" data-toggle="popover" title="Click to delete file">Delete</button>
				</form>
					
			</td>
			<td>
				<form method="post" action="{% url 'document_sentiment-sentiment_select_doc' doc.pk %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-success btn-sm" data-toggle="popover" title="Click to select file">Select</button>
				</form>
					
			</td>
		</tr>
		{% endfor%}
		
	</tbody>	
</table>
</div>

{% endblock content %}