{% extends "document_sentiment/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
</div>
	<h3 class="text-center">Setup</h3>
<p class="text-center">Data Import</p>
<!---first card --->
 <div class="row">
      <div class="col-md-6">
        <div class="card mx-auto text-light bg-steel mb-2" style="max-width: 30rem;">
          <div class="card-body">
            <div class="form-group shadow-textarea">
            <label for="FormControlTextarea" >Text Sample</label>
            <textarea class="form-control z-depth-1" id="FormControlTextarea" rows="10" placeholder="{{ request.session.content }}" readonly></textarea>
            </div>
              <a class="btn btn-primary" href="{% url 'document_sentiment-check_sentiment_csv' %}">Check Sentiment &raquo;</a>             
          </div>   
        </div>
      </div>
      <div class="col-md-4 ">
        <table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Uploaded_at</th>
      <th>Document</th>
      <th>View</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for doc in docs%}
    <tr> 
      <td>{{ doc.description }}</td>
      <td>{{ doc.uploaded_at }}</td>
      <td>{{ doc.document }}</td>
      <td>
        <a href="{{ doc.document.url }}" class="btn btn-primary btn-sm" target="_blank">Download</a>
      </td>
      <td>
        <form method="post" action="{% url 'document_classification-select_doc' doc.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Select</button>
        </form>
          
      </td>
    </tr>
    {% endfor%}
  </tbody>  

</table>
      </div>
    </div>
    </div>
<!--- --->
{% endblock content %}