{% extends "document_sentiment/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
</div>
	<h3 class="text-center">Setup</h3>
<p class="text-center">Data Import</p>
<!---first card --->
 <div class="row">
      <div class="col-md-6">
        <div class="card mx-auto text-light bg-steel mb-2" style="max-width: 30rem;">
          <div class="card-body">
            <div class="form-group shadow-textarea">
            <label for="FormControlTextarea" >Text Sample</label>
            <textarea class="form-control z-depth-1" id="FormControlTextarea" rows="10" placeholder="{{ request.session.content }}" readonly></textarea>
            </div>
              <form method="post" action="{% url 'document_sentiment-check_sentiment_csv' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Check Sentiment &raquo;</button>
              <!---<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter">Launch </button>--->
              </form>        
          </div>
        </div>
        <!-- Download Status -->
<div class="container" style="padding-top: 20px;">
    {% block progress %}{% endblock progress %}
</div>
<!--- end download status--->
      </div>
     
      <div class="col-md-4 ">
        <table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Uploaded_at</th>
      <th>Document</th>
      <th>View</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for doc in docs%}
    <tr> 
      <td>{{ doc.description }}</td>
      <td>{{ doc.uploaded_at }}</td>
      <td>{{ doc.document }}</td>
      <td>
        <a href="{{ doc.document.url }}" class="btn btn-primary btn-sm" target="_blank">Download</a>
      </td>
      <td>
        <form method="post" action="{% url 'document_sentiment-sentiment_select_doc' doc.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success btn-sm">Select</button>
        </form>
          
      </td>
    </tr>
    {% endfor%}
  </tbody>  

</table>
      </div>
    </div>
  </div>
  <!-- start modal 
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" style="font-size: 14px"> 
          <div id="progress-bar-message">Waiting for progress to start...</div>
          </div>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        progress bar start 
          <div class="text-center" style="font-size: 14px"> 
          <div id="progress-bar-message">Waiting for progress to start...</div>
          </div>

      <div class='progress-wrapper' style="padding-top: 10px;">
        <div id='progress-bar' class='progress-bar progress-bar-striped' role='progressbar' style="height:30px; width: 0%; border-radius: 5px">&nbsp;</div>
      </div>
    
      <div id="celery-result"></div> 
      progress bar end 
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>
end modal --->
    
      <!---{% if task_id %}
      <script type="text/javascript">

        
    // vanilla JS version activate bar
      document.addEventListener("DOMContentLoaded", function () {
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl);
      });
            // JQuery get progress result from worker
            var progressUrl = "{% url 'celery_progress:task_status' task_id %}";

            function customResult(resultElement, result) {
              $( resultElement ).append(
                $('<p>').text('Sum of all seconds is ' + result)
              );
            }

            $(function () {
        CeleryProgressBar.initProgressBar(progressUrl, {
          onResult: customResult,
        })
      });
    </script>
    {% endif %}--->
<!--- --->
{% endblock content %}