{% extends "document_classification/base.html" %}
{% block content %}
{% load static %}

<h2>{{ request.user.username}}</h2>

<table class="table">
	<thead>
		<tr>
			<th>No</th>
			<th>User</th>
			<th>Description</th>
			<th>Uploaded_at</th>
			<th>Document</th>
			<th>View</th>
			<th>Delete</th>
			<th>Extract</th>
			<th>Select</th>

			

		</tr>
	</thead>
	<tbody>
		{% for doc in docs%}
		<tr>
			<td>{{ doc.pk }}</td>
			<td>{{ doc.author }}</td>
			<td>{{ doc.description }}</td>
			<td>{{ doc.uploaded_at }}</td>
			<td>{{ doc.document }}</td>
			<td>
				<a href="{{ doc.document.url }}" class="btn btn-primary btn-sm" target="_blank">
				view</a>
			</td>
			<td>
				<form method="post" action="{% url 'document_classification-delete_docs' doc.pk %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger btn-sm">Delete</button>
				</form>
					
			</td>
			<td>
				<form method="post" action="{% url 'document_classification-extract_doc' doc.pk %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-info btn-sm">Extract</button>
				</form>
					
			</td>
			<td>
				<form method="post" action="{% url 'document_classification-select_doc' doc.pk %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-success btn-sm">Select</button>
				</form>
					
			</td>
			
		</tr>
		{% endfor%}
		</div class="row">
      <a class="btn btn-primary" href="{% url 'document_classification-extract_upload_file' %}">&laquo; Upload</a>
      <a class="btn btn-primary" href="{% url 'document_classification-display_extracted_text' %}" style="float:right;">View Sample &raquo;</a>
  </div>
	</tbody>	
</table>
  
{% endblock content %}