{% extends "document_classification/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="text-center" style="color:blue; font-weight:bold;">New Model</h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
</div>
<p class="text-center" style="font-weight:bold;">Name Your Model</p>	
<div class="card mx-auto text-light bg-steel mb-3" style="max-width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Model Name</h5>
    <form action="" method="post">
	    {% csrf_token %}
	    {{ form|crispy}}
	    <div class="row"><input type="submit" value="Submit"></div>	
	</form>
  </div>
  <a href="{% url 'document_classification-setup_complete' %}" class="btn btn-block btn-primary">Continue</a>
</div>
{% endblock content %}