{% extends "document_classification/base.html" %}
{% block content %}
<h3 class="text-center" style="color:blue; font-weight:bold;">Setup Complete</h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
</div>
<p class="text-center" style="font-weight:bold;">Name Your Model</p>
	<div class="container center">
		<div class="row">
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-block">
		        <h3 class="card-title">hello setup complete</h3>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="{% url 'document_classification-testing' %}" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-block">
		        <h3 class="card-title">Special title treatment</h3>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		</div>
  	</div>
{% endblock content %}