{% extends "document_classification/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!--- heading and progress bar --->
<h3 class="text-center" style="color:blue; font-weight:bold;">Training</h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
</div>
<p class="text-center" style="font-weight:bold;">Tag Selection</p>
<!---- card --->
<div class="row">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="place holder">
          <div class="card-body">
            <h4 class="card-title">TODO: Display chosen tags</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <form action="" method="post">
			    {% csrf_token %}
			    {{ form|crispy}}
			    <div class="row">
				    <input type="submit" value="Submit">
				</div>	
			</form>
          </div>
          <div class="card-footer">
            <a href="{% url 'document_classification-model_name' %}" class="btn btn-primary">Continue</a>
          </div>
        </div>
      </div>
<!---
<div class="row">
	<div class="card mx-auto text-light bg-steel" style="max-width: 30rem;">
		<div class="card-body">
			<img src="http://placehold.it/400x200" alt="Selected Tags">
		</div>
			<a href="{% url 'document_classification-upload_confirmation' %}" class="btn mx-auto btn-block btn-primary" style="max-width: 10rem;">Continue</a>
		</div>
	</div>

          <div class="content-section">
            <p class='text-muted'>Tags
              <form action="" method="post">
			    {% csrf_token %}
			    {{ form|crispy}}
			    <div class="row">
				    <input type="submit" value="Submit">
				    <a href="{% url 'document_classification-model_name' %}" class="btn align-self-end btn-block btn-primary">Continue</a>
				</div>	
			</form>
            </p>
          </div>
        </div>
      </div>
--->
{% endblock content %}