{% extends "topic_extraction/base.html" %}
{% block content %}

<!---first card --->
	<div class="card mx-auto text-light bg-steel mb-3" style="max-width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Add .TXT</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <a href="{% url 'topic_extraction-topic_csv_upload_file' %}" class="btn btn-block btn-primary">Continue</a>
</div>
<!---second card --->
<div class="card mx-auto text-white bg-steel mb-3" style="max-width: 30rem;"> 
  <div class="card-body">
    <h5 class="card-title">Add C.S.V.</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <a href="{% url 'topic_extraction-topic_csv_upload_file' %}" class="btn btn-block btn-primary">Continue</a>
</div>
<!---third card --->
<div class="card mx-auto text-white bg-steel mb-3" style="max-width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Add JSON</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <a href="{% url 'topic_extraction-topic_json_upload_file' %}" class="btn btn-block btn-primary">Continue</a>
</div>
{% endblock content %}