{% extends "document_extraction/base.html" %}
{% block content %}
{% load static %}
<style type="text/css">
	.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }
  
  .bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
  }

</style>
<script type="text/javascript">
	
	function modal(){
       $('.modal').modal('show');
       setTimeout(function () {
       	$('.modal').modal('hide');
       });
    }
</script>
<div class="container" style="margin-top: 50px;">
<table class="table">
	<thead>
		<tr>
			<th>No</th>
			<th>User</th>
			<th>Description</th>
			<th>Uploaded_at</th>
			<th>Document</th>
			<th>View</th>
			<th>Delete</th>
			<th>Extract</th>
			<th>Select</th>

			

		</tr>
	</thead>
	<tbody>
		{% for doc in docs%}
		<tr>
			<td>{{ doc.pk }}</td>
			<td>{{ doc.author }}</td>
			<td>{{ doc.description }}</td>
			<td>{{ doc.uploaded_at }}</td>
			<td>{{ doc.document }}</td>
			<td>
				<a href="{{ doc.document.url }}" class="btn btn-primary btn-sm" target="_blank" data-toggle="popover" title="Click to view file">
				view</a>
			</td>
			<td>
				<form method="post" action="{% url 'document_extraction-extraction_delete_docs' doc.pk %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger btn-sm" data-toggle="popover" title="Click to delete file">Delete</button>
				</form>
					
			</td>
			<td>
				<form method="post" action="{% url 'document_extraction-extraction_extract_doc' doc.pk %}">
					{% csrf_token %}
					<button type="submit" id="btnfetch" class="btn btn-info btn-sm" data-toggle="popover" title=" Click to extract the text from the image!" onclick="modal();">Extract</button>
				</form>
					
			</td>
			<td>
				<form method="post" action="{% url 'document_extraction-extraction_select_doc' doc.pk %}">
					{% csrf_token %}
					<!---<button type="submit" class="btn btn-success btn-sm">Select</button>--->
					<button type="submit" class="btn btn-success btn-sm" data-toggle="popover" title=" Click to select pre extracted file!">Select</button>
				</form>
					
			</td>
			
		</tr>
		{% endfor%}
		
     
 
	</tbody>
	 
</table>
  <!--- modal loader --->
<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
            <h3>Processing</h3>
        </div>
    </div>
</div>
  </div>
<!--- end loader --->
{% endblock content %}