{% extends "document_extraction/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 50px;">
<!---first card --->
 <div class="row">
      <div class="col-md-6">
        <div class="card mx-auto text-light bg-steel mb-2" style="max-width: 30rem;">
          <div class="card-body">
            <div class="form-group shadow-textarea">
            <label for="FormControlTextarea" >Extracted text sample</label>
            <textarea class="form-control z-depth-1" id="FormControlTextarea" rows="10" placeholder="{{ request.session.content }}" readonly></textarea>
            </div>
            
              <a class="btn btn-primary" style="margin-left: 100px;" href="{% url 'document_extraction-extraction_preview_file' %}">&laquo; Extract More</a>
              <a class="btn btn-primary" href="#">Add to file &raquo;</a>
            
          </div>
    
        </div>
      </div>
      <div class="col-md-4 ">
        <table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Uploaded_at</th>
      <th>Document</th>
      <th>View</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    {% for doc in docs%}
    <tr> 
      <td>{{ doc.description }}</td>
      <td>{{ doc.uploaded_at }}</td>
      <td>{{ doc.document }}</td>
      <td>
        <a href="{{ doc.document.url }}" class="btn btn-primary btn-sm" target="_blank">Download</a>
      </td>
      <td>
        <form method="post" action="{% url 'document_extraction-select_doc' doc.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Select</button>
        </form>
          
      </td>
    </tr>
    {% endfor%}
  </tbody>  

</table>
      </div>
    </div>
    </div>
<!--- --->
{% endblock content %}