{% extends "document_summary/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!--- heading and progress bar --->
<div class="container">
<div class="row">
        <div class="col-lg">
<h3 class="text-center" style="font-weight:bold;">Summary analysis sample</h3>
<!---- card --->
<div class="card mx-auto text-light bg-steel ">
	<div class="card-body">
		<form method="post">
		{% csrf_token %}
		{{ form|crispy}}
		<div class="container">
		<button type="submit" class="btn btn-primary btn-block">Analyse</button>
		</form>
	</div>
	</div>
<!---<a href="{% url 'document_sentiment-sentiment_preview_data' %}" class="btn btn-block btn-primary">File Select</a> testing--->
</div>
</div>
</div>
{% if result %}
	<div class="card mx-auto text-light bg-steel" style="margin-top: 10px;">
          <div class="card-body text-center">
            <div class="form-group shadow-textarea">
            <label for="FormControlTextarea" style="font-weight:bold;">Summary Result</label>
            <textarea class="form-control z-depth-1" id="FormControlTextarea" rows="5" placeholder="{{ result|default:'no data recieved' }}" readonly></textarea>
            </div>
          </div>
        </div>
{%  endif %}

</div>
{% endblock content %}
